<%- include('../partials/header')%>

<section id="show-page">
        <table>
          <thead>
            <th>Airport:</th>
            <th>Release Year:</th>
            <th>Rating:</th>
            <th>Departure Time:</th>
          </thead>
          <tbody>
          <tr>
              <td><%= flight.airport %></td>
              <td><%= flight.airline %></td>
              <td><%= flight.flightNo %></td>
              <td><%= flight.departs %></td>
            </tbody>
        </table>
      </section>