<%- include('../partials/header')%>

<div class='flight-info'>
  <section id="show-page">
    <h1>Flight Information</h1>
    <table>
      <thead>
        <th>Airport</th>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Departure Time:</th>
      </thead>
      <tbody>
        <tr>
          <td><%= flight.airport %></td>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
      </tbody>
    </table>
  </section>

  <% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport:</th>
        <th>Arrival Time:</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(f) { %>
      <tr>
        <td><%= f.airport %></td>
        <td><%= f.arrival %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5><%=flight.destinations.airport%> --- Arrival Time TBD</h5>
  <% } %>
</div>

<div class='ticket-list'>
  <table>
    <thead>
      <th>Seat:</th>
      <th>Price:</th>
    </thead>
    <tbody>
      <% tickets.forEach(function(ticket,idx){%>
      <tr>
        <td><%= ticket.seat%></td>  
        <td><%= ticket.price%></td>
        <td><form action="/flights/<%=flight._id%>/tickets/<%=ticket._id%>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<h2>Select Destination</h2>
<form id="add-review-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Arrival Date:</label>
  <input type="datetime-local" name="arrival">
  <label>Destination Airport:</label>
  <select name="airport">
    <option value="SAN">San Diego</option>
    <option value="AUS">Austin</option>
    <option value="LAX">Los Angeles</option>
    <option value="SEA">Seattle</option>
    <option value="DAL">Dallas</option>
  </select>
  <input type="submit" value="Add Arrival">
</form>

<a href="/flights/<%=flight._id%>/tickets/new">Add Ticket</a></button>